nav ul {
       list-style: none;
    display: block;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 330px;
    top: 31.5px;
    }

.menu ul {
    display: table;
    align-content: center;

}
.menu li {
    display: inline-block;
    text-align: center;
}
.menu li a {
    padding: 40px;
    color: red;
    text-decoration: none;
    line-height: 25px;
}
.container {

    width: 1280px;
    max-width: 1145px;
    margin: 0 auto;
    height: 650px;
}

.rectangle {
    Width: 191px;
    Height: 51px;
    background: red;
    margin-top: 78px;
    margin-left: 500px;
    align-content: center;
    border-bottom-left-radius: 4px;
}
.text {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.7999999523162842px;
    color: #FFFFFF;
    padding-left: 50px;
    padding-top: 8px;
    font-weight: bold;
    display: inline-block;

}

footer {
    text-align: right;
    width: 1070px;
    height: 39px;
    top: 1558px;
    left: 105px;
    padding-top: 108px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4000000953674316px;
    margin-top: 120px;

}
.title {
    font-family: montserrat;
    text-align: center;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
    left: 253px;
    margin-left: 100px;
}
.paragraph {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4000000953674316px;
    text-align: center;
}

.big {
    width: 1145px;
    height: 132px;
    top: 115px;
    left: 67.5px;
    margin-bottom: 70px;

}
.small {
    width: 1145px;
    height: 216px;
    top: 275px;
    left: 67.5px
}
